body {
	font: 18px Arial, Helvetica, sans-serif;
	line-height: 28px;
	margin: 0;
}

.wrapper {
	box-sizing: border-box;
	background: #eee;
	margin: 40px auto;
	height: 10000px;
	width: 90%;
	max-width: 800px;
	padding: 30px;
}

.wrapper.wrapper--overflow {
	height: 400px;
	overflow-y: scroll;
}

h1 {
	margin: 0 0 20px 0;
}

.wrapper img {
	margin: 0 0 15px 0;
	width: 100%;
	height: auto;
}